header {
    display: flex;
    justify-content: center;
    color: red;
    font-size:x-large;
    text-align: center;
  }
  
  main {
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style:oblique;
    color: blue;
  }
  
  .input {
    margin-bottom: 30px;
    font-size:x-large;
    
  }
  
  .operacoes {
    display: flex;
  }
  
  .button {
    padding: 30px;
    margin-left: 60px;
    background-color:aquamarine;
    border: solid black 2px;
    font-size:x-large;
  }
  
  .result {
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border: solid orangered 3px;
  }
  
  p {
    display: flex;
    justify-content: center;
    font-size: xx-large;
  }
  